
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Arduinoed | Frameworks</title>

    <!-- Bootstrap core CSS -->
    <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/hardware.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/7b5cb65672.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <% include header %>
    <% include jumbotron/jumbotronFramework %>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6 data_col vr">
          <i class="material-icons">videogame_asset</i>
          <h2 class="title">Playduino</h2><h3 class="title">(Mitch Myburgh)</h3>
          <p>Framework information</p>
          <p>Frameworks provided in the Playduino package include a long and short assignment for both Drop Dodge, a game about dodging falling blocks and Snake, a clone of the classic Snake game.</p>
          <p><a class="btn btn-default" href="https://github.com/mitchmyburgh/playduino/wiki/dropDodge" role="button"><span class="fa fa-github"></span>  Drop Dodge Assignment &raquo;</a></p>
          <p><a class="btn btn-default" href="https://github.com/mitchmyburgh/playduino/wiki/dropDodgeAbridged" role="button"><span class="fa fa-github"></span>  Drop Dodge Abridged Assignment &raquo;</a></p>
          <p><a class="btn btn-default" href="https://github.com/mitchmyburgh/playduino/wiki/Snake" role="button"><span class="fa fa-github"></span>  Snake Assignment &raquo;</a></p>
          <p><a class="btn btn-default" href="https://github.com/mitchmyburgh/playduino/wiki/snakeAbridged" role="button"><span class="fa fa-github"></span>  Snake Abridged Assignment &raquo;</a></p>
        </div>
        <div class="col-md-6 data_col moti">
          <i class="material-icons">notifications_active</i>
          <h2 class="title">MOTI</h2> <h3 class="title">(Tumelo Makgaka)</h3>
          <p>Frameworks provided in the MOTI package include a long and short Arduino assignment for the alarm system, along with  a short Java assignment</p>
          <p><a class="btn btn-default" href="https://github.com/tumelomakgaka/MOTI_ALARM/wiki/MOTI" role="button"><span class="fa fa-github"></span>  MOTI Complete Assignment &raquo;</a></p>
          <p><a class="btn btn-default" href="https://github.com/tumelomakgaka/MOTI_ALARM/wiki/MOTIAbridged" role="button"><span class="fa fa-github"></span>  MOTI Abridged Assignment &raquo;</a></p>
          <p><a class="btn btn-default" href="https://github.com/mitchmyburgh/MOTI_ALARM/wiki/MOTIJavaAbridged" role="button"><span class="fa fa-github"></span>  MOTI Abridged Java Assignment &raquo;</a></p>
        </div>
      </div>

      <hr>

      <% include footer %>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
