<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#"><i class="material-icons">memory</i> ARDUINOED</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
     <ul class="nav navbar-nav navbar-right">
       <li <% if (page==='Home') {%>class="active"<% } %>><a href="index.html">Home</a></li>
       <li <% if (page==='Hardware') {%>class="active"<% } %>><a href="hardware.html">Hardware</a></li>
       <li <% if (page==='Software') {%>class="active"<% } %>><a href="software.html">Software</a></li>
       <li <% if (page==='Framework') {%>class="active"<% } %>><a href="framework.html">Frameworks</a></li>
       <li <% if (page==='Report') {%>class="active"<% } %>><a href="report.html">Reports</a></li>
     </ul>
   </div><!--/.navbar-collapse -->
  </div>
</nav>
