@import 'common';

.jumbotron {
  .material-icons {
    display: inline-block;
    font-size: 90px;
    color: white;
    vertical-align: middle;
  }
  h1 {
    padding-left: 20px;
    display: inline-block;
    vertical-align: middle;
  }
}
.data_col {
  .material-icons {
    display: inline-block;
    font-size: 48px;
    color: $green;
    vertical-align: middle;
    text-align: center;
  }
  h2 {
    padding-left: 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
  }
  p, ol {
    font-family: 'Roboto Slab', serif;
  }
  img {
    width: 90%;
    height: auto;
  }
  .btn {
    .fa-file-pdf-o {
      color: $pdf_red;
    }
  }
}
