@import 'common';

/* body */
.container {
  .data_col {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    .material-icons {
      font-size: 200px;
      color: $green;
    }
    .material-icons:hover {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      color: $hover_green;
    }
  }

}
